@using KriptoFeet.News.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KriptoFeet</title>

    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Kenia' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Andika' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina' />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        


    </environment>
</head>
<body>
    <header class="container">
        <h1>KriptoFeet</h1>
        <h4 class="header-second">Новости из мира развлечений</h4>
        <hr class="navigatebar-line" align="center"  noshade />
    </header>
    <div class="navigatebar">
        <nav class="navbar inner">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="divider-vertical"></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color:black">KriptoFeet</a></li>
                    @foreach(var c in ViewBag.Categories)
                    {
                    <li><a asp-area="" asp-controller="Home" asp-action="Сategory" asp-route-id=@c.Id style="color:black">@c.Name</a></li>
                    }
                </ul>
            </div>


            <hr class="navbar-line" align="center"  noshade />
        </nav>
   </div>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - KriptoFeet</p>
        </footer>
    </div>

    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
