<div class="about-portal">
        <h4 class="header-with-line">О портале</h4>
        <p class="portal-text" height="100px">Описание портала</p>
        <div class="btn-groupp">
            <a href="#" class="btn btn-primary btn-login">Войти</a>
            <a href="#" class="btn btn-primary btn-registration">Регистрация</a>
        </div>
</div>