<div class="req-conten-manag">
    <div class = "row">
            <div class="panel-body col-sm-9">
                    <p>ФИО</p>
            </div>
            <div class ="panel-body col-sm-3 center-justified_trash">
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-ok icon_color " aria-hidden="true "></span> 
                </button>
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-remove icon_color " aria-hidden="true "></span> 
                </button>                 
            </div>
        </div>
</div>
