@model KriptoFeet.Users.Models.PasswordChangingRequest
<form action="/Home/UserProfileSettings2" method="post">
                        <div class="form-group row"  >
                            <label asp-for="OldPassword" class="col-sm-5 control-label styleform">Пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="password" value="@Model.OldPassword" class="form-control" asp-for="OldPassword" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-5 control-label">Новый пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="password" value="@Model.Password" class="form-control" asp-for="Password" placeholder="Новый пароль">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PasswordAgain" class="col-sm-5 control-label">Повторить пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="password" value="@Model.PasswordAgain" class="form-control" asp-for="PasswordAgain" placeholder="Повторить пароль">
                                <span class="validation-error" asp-validation-for="PasswordAgain" />
                            </div>
                        </div>                   

                        <div class="form-group row" align="center" >
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="but_top">
                                    <button type="submit" class="btn btn-primary btn-sm ">
                                        Изменить пароль
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>