<div class="single-news">
        <h3 class ="h3_singlenews"><b>Заголовок новости</b></h3>
        <ul class="info">
			<li><p><i class="about"></i>Автор</p></li>
            <li><p><i class="about"></i>05.11.2017</p></li>
            <li><p><i class="about"></i>Категория:</p></li>
            <li><a href="#" class="a-single-news" >Кино</a></li>
		</ul> 
        <img src="~/images/last-news3.png" class="img-fluid" alt="Last news">
        <p class="last-news-text" height="100px">Много текста</p>
</div>