<div class="small-group">
    <div class = "row">
            <div class="panel-body col-sm-9">
                    <p>Название группы</p>
            </div>
            <div class ="panel-body col-sm-3 center-justified_trash">
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-edit icon_color " aria-hidden="true "></span> 
                </button>
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-trash icon_color " aria-hidden="true "></span> 
                </button>                 
            </div>
        </div>

</div>
