<div class="small-news">
    <div class = "row">
            <div class="panel-body col-sm-9">
                <a asp-area="" asp-controller="Home" asp-action="News" style="color:black">Заголовок</a>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="~/images/small-news.jpg"  alt="News">
                        <dev class="date-content">12 Октября 2016 </dev>
                        <dev><a href="#" class="a-single-news" >Кино</a></dev>
                            
                        <p class="small-news-content">Немного текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного
                             текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного текста
                             Немного текстаНемного текстаНемного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <div class ="panel-body col-sm-3 center-justified_trash">
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-edit icon_color " aria-hidden="true "></span> 
                </button>
                <button type="button"  class="btn btn-primary btn-md  " >
                   <span class="glyphicon glyphicon-trash icon_color " aria-hidden="true "></span> 
                </button>                 
            </div>
        </div>

</div>
