<div class="small-news">
                <span><b>Заголовок</b></span>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="~/images/small-news.jpg"  alt="News">
                        <dev class="date-content">12 Октября 2016</dev>
                        <p class="small-news-content">Немного текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного
                             текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного текстаНемного текста
                             Немного текстаНемного текстаНемного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
</div>