@model KriptoFeet.News.Models.NewsInfo
<div class="small-news">
    <div class = "row">
            <div class="panel-body col-sm-9">
                <a asp-area="" asp-controller="Home" asp-action="News" asp-route-id=@Model.Id style="color:black">@Model.Title</a>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px; " width="100" height="100" src="/Images/News/@Model.Id"  alt="News">
                        <dev class="date-content">@Model.Date</dev>
                        <dev><a asp-area="" asp-controller="Home" asp-action="Сategory" asp-route-id=@Model.Category.Id class="a-single-news" >@Model.Category.Name</a></dev>
                            
                        <p class="small-news-content">@(Model.Body == null ? "": Model.Body.Substring(0, Math.Min(Model.Body.Length, 120)))...</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <div class ="panel-body col-sm-3 center-justified_trash">
                <a asp-area="" class="btn btn-primary btn-md" asp-controller="ContentManager" asp-action="CorrectNews" asp-route-id=@Model.Id class="a-single-news" >
                    <span class="glyphicon glyphicon-edit icon_color " aria-hidden="true "></span> 
                </a>
                <a asp-area="" class="btn btn-primary btn-md" asp-controller="ContentManager" asp-action="DeleteNews" asp-route-id=@Model.Id class="a-single-news" >
                    <span class="glyphicon glyphicon-trash icon_color " aria-hidden="true "></span> 
                </a>
            </div>
        </div>

</div>
