            <div>
                <h4 class="header-with-line">Вкладки</h4>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Popular">Популярное</a></li>
                        <li><a data-toggle="tab" href="#Comments">Комментарии</a></li>
                    </ul>
                </div>
                <div class="tab-content tabs-content">
                    <div id="Popular" class="tab-pane fade in active">
                         <p>Интересных новостей нет</p>
                    </div>
                    <div id="Comments" class="tab-pane fade">
                        <p>Интересных комментариев нет</p>
                    </div>
                </div>
            </div>