
            <div class="small-user-comment ">
                            <div class="media-body">
                                <div class = "row">
                                    <div class="panel-body col-sm-9">
                                        <div class="mar-btm">
                                            <a href="#" class = ".a-comment">Максим</a>
                                            <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> 05.11.2017</p>
                                        </div>                                
                                        <p>Секция с комментариями для сайта с подключенным Bootstrap!!!</p>
                                    </div>
                                <div class ="panel-body col-sm-3 center-justified_trash">
                                    <button type="button"  class="btn btn-primary btn-md  " >
                                            <span class="glyphicon glyphicon-trash icon_color " aria-hidden="true "></span> 
                                    </button>                  
                                </div>
                            </div>
                        </div> 
            </div>
        
