@model KriptoFeet.Comments.Models.Comment
<div class="row">
    <div class="col-md-12"> 

            <div class="small-user-comment ">
                
                            <div class="media-body">
                                <div class = "row">
                                <div class="panel-body col-sm-1">
                                        <a class="media-left" href="#"><img class="img-circle img-sm" alt="Профиль пользователя" src="http://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
                                    </div>
                                <div class="panel-body col-sm-9">
                                    <div class="mar-btm">
                                        <span class = ".a-comment">@Model.Author.Nickname</span>
                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i>@Model.Date</p>
                                    </div>                                
                                    <p>@Model.Body</p>
                                </div>
                                <div class ="panel-body col-sm-3 center-justified_trash">
                                    <button type="button"  class="btn btn-primary btn-md  " >
                                            <span class="glyphicon glyphicon-trash icon_color " aria-hidden="true "></span> 
                                    </button>                  
                                </div>
                            </div>
                        </div> 
            </div>
        
