@model KriptoFeet.News.Models.CorrectNewsForm
@{
    ViewData["Title"] = "CorrectNews";
}

    <div class="row">
        <div class="col-md-12" >    
            <div class="containerNewForCreateNews">
                    <br>
                        <form class="form-horizontal" asp-controller="ContentManager" asp-action="CorrectNews" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="form-group"  >
                                <label asp-for="Title" class="control-label col-sm-3" >Заголовок новости</label>
                                <div class="col-sm-4">
                                    <input  asp-for="Title" value=@Model.Title class="form-control"  placeholder="Заголовок новости">
                                    <span class="validation-error" asp-validation-for="Title" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Body" class="control-label col-sm-3 " >Новостная группа</label>
                                <div class="col-sm-4">
                                    <select value=@Model.CategoryId asp-for="CategoryId" class="form-control input-lg" style="color:#888;">
                                        @foreach(var c in ViewBag.Categories)
                                        {
                                            <option value=@c.Id style="color:black">@c.Name</option>
                                        }
                                    </select>
                                    <span class="validation-error" asp-validation-for="CategoryId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" >Изображение</label>
                                <div class="col-sm-4">
                                    <div class="but_top">
                                        <div class="fileUpload btn btn-primary btn-md">
                                                Обзор...
                                            <input type="file"  asp-for="Picture" type="file" class="upload" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                 <label asp-for="Body" class="control-label col-sm-3" >Текст новости:</label>
                                 <div class="col-sm-8 col-md-offset-3" >
                                    <textarea asp-for="Body" value=@Model.Body class="form-control" rows="10"  required></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group ">
                                <div class=" col-sm-8 col-md-offset-8 pad_left_but_correct_news">
                                     <button type="submit"  class="btn btn-primary">
                                         Сохранить изменения
                                     </button>
                                </div>
                            </div>
                            <span class="validation-error">@Html.ValidationSummary()</span>
                        </form>
            </div>
                </div>
                    <div class="col-md-12">
                        <h4 class="header-with-line">Комментарии</h4>
                        @foreach(var c in Model.Comments)
                        {
                            @Html.Partial("UserProfileComment", c)
                        }
                    </div> 
                </div>
        
 
   