@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-lg-6">
            <img src="images/last-news2.png" class="img-fluid" alt="Last news">
            <h4 class="header-with-line">Последняя новость</h4>
            <p class="last-news-text" height="100px">Много текста</p>
        </div>
        <div class="col-lg-6">
            <div class="about-portal">
                <h4 class="header-with-line">О портале</h4>
                <p class="portal-text" height="100px">Описание портала</p>
                <div align="center">
                    <a href="#" class="btn btn-primary">Войти</a>
                    <a href="#" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
            <div>
                <h4 class="header-with-line">Вкладки</h4>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Popular">Популярное</a></li>
                        <li><a data-toggle="tab" href="#Comments">Комментарии</a></li>
                    </ul>
                </div>
                <div class="tab-content tabs-content">
                    <div id="Popular" class="tab-pane fade in active">
                         <p>Some content.</p>
                    </div>
                    <div id="Comments" class="tab-pane fade">
                        <p>Some content in menu 1.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header" >Кино</a></h4>
             <div class="small-news">
                 <h4 class="header-small-news">Заголовок</h4>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="images/small-news.jpg"  alt="News">
                        <p class="small-news-content">Немного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header">Концерты</a></h4>
            <div class="small-news">
                 <h4 class="header-small-news">Заголовок</h4>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="images/small-news.jpg"  alt="News">
                        <p class="small-news-content">Немного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header" >Кафе</a></h4>
             <div class="small-news">
                 <h4 class="header-small-news">Заголовок</h4>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="images/small-news.jpg"  alt="News">
                        <p class="small-news-content">Немного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-lg-6">
             <h4 class="header-with-line"><a href="#" class="a-header">Мероприятия</a></h4>
            <div class="small-news">
                 <h4 class="header-small-news">Заголовок</h4>
                 <div class="row">
                    <div class="span4">
                        <img style="float:left; margin-left:15px" src="images/small-news.jpg"  alt="News">
                        <p class="small-news-content">Немного текста</p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
