@model KriptoFeet.News.Models.NewsInfo
@{
    ViewData["Title"] = "News";
}

    <div class="row">
        <div class="col-md-8">

            @Html.Partial("SingleNews", Model)
 
        </div>
        <div class="col-md-4 ">
            @Html.Partial("AboutPortal")
        </div>
   
   
        
        <div class="col-md-8">
            <h4 class="header-with-line">Комментарии</h4>
             @foreach(var c in Model.Comments)
             {
            @Html.Partial("SmallUserComment", c)
             }
        </div>
                <div class="col-md-4 ">
            @Html.Partial("Tabs")
        </div>
    </div>




