@model KriptoFeet.Users.Models.UserProfile
@{
    ViewData["Title"] = "UserProfile";
}

    <div class="row">
        <div class="col-md-12">       
            <div class=" containerNew">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <figure>
                        <img class="profImag img-fluid img-circle"  src="~/images/UserPhoto.png"  alt="Photo" img align="middle" >                    
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                       <div class="row">
                            <div class="col-xs-12 col-sm-6 ">
                                <div class = "user_content">
                                    <br>
                                    <h3><strong>@Model.Nickname</strong></h3>
                                    <br>
                                    <p>@Model.Email</p>
                                </div>
                                
                            </div>
                            <div  class="col-xs-12 col-sm-6 ">
                                <br><br>
                                <div class="padding_but">
                                        <a asp-area="" asp-controller="Home" asp-action="UserProfileSettings" class="btn btn-primary btn-md">
                                            <span class="glyphicon glyphicon-cog icon_color " aria-hidden="true "></span> Настройки
                                        </a>
                                </div>              
                            <button type="button"  class="btn btn-primary btn-md ">
                                <span class="glyphicon glyphicon-envelope icon_color"  style="vertical-align:middle" aria-hidden="true "></span> Подать заявку на роль<br> контент-менеджера
                            </button>                                
                            </div>
                            <div  class="col-xs-12 col-sm-12 " >
                                <hr >
                                <ul class ="inline_fot" >                           

                                    <li>                     
                                        <font size="3px">
                                            <p >Комментариев:  <span class="badge badge_color">@Model.Comments.Count</span></p>
                                        </font>
                                    </li> 
                                </ul>
                                </hr>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <h4 class="header-with-line">Комментарии</h4>
             @foreach(var c in Model.Comments)
             {
            @Html.Partial("UserProfileComment", c)
             }
        </div>    

     
    </div>
