
@{
    ViewData["Title"] = "UserProfileSettings";
}

    <div class="row">
        <div class="col-md-12">    
            <div class="containerNew">
            <div class="row">
                <div class="col-xs-12 col-sm-3 " >
                    <figure >
                        <img class="profImag img-fluid img-circle"  src="~/images/UserPhoto.png"  alt="Photo" img align="middle" >
                        <figcaption class="ratings">
                            <div class="center-justified">
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <span class="glyphicon glyphicon-open icon_color " style="vertical-align:middle" aria-hidden="true "></span> Загрузить новое <br> изображение
                                </button>
                            </div>
                        </figcaption>
                    </figure>  
                </div>
                <div class="col-xs-12 col-sm-4">
                    <br>
                    <form class="form-horizontal">
                    <div class="form-group">
                        <p>Имя </p>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Фамилия</p>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Ник </p>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Ник">
                        </div>
                    </div>
                    </form>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <br>
                    <form class="form-horizontal">
                    <div class="form-group">
                        <p>  Дата рождения </p>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Дата рождения">
                        </div>
                    </div>
                    <div class="form-group">
                        <p>  Email</p>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Email">
                        </div>
                    </div>
                    <br>
                    <div class="but_top">
                        <button type="button" class="btn btn-primary btn-md ">
                        Сохранить изменения
                        </button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
 
        <div class="col-md-8">
            <h4 class="header-with-line">Настройки аккаунта</h4>    
            <div class="container styleform" align="left">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <form   >
                        <div class="form-group row"  >
                            <label for="oldpassword" class="col-sm-5 control-label styleform">Пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="oldpassword" class="form-control" id="oldpassword" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newpassword" class="col-sm-5 control-label">Новый пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="newpassword" class="form-control" id="newpassword" placeholder="Новый пароль">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="repeatpassword" class="col-sm-5 control-label">Повторить пароль<sup><font color="red">*</font></sup></label>
                            <div class="col-sm-7">
                                <input type="repeatpassword" class="form-control" id="repeatpassword" placeholder="Повторить пароль">
                            </div>
                        </div>                   

                        <div class="form-group row" align="center" >
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="but_top">
                                    <button type="button" class="btn btn-primary btn-sm ">
                                        Изменить пароль
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>

</div>




