@using KriptoFeet.News.Models
@{
    ViewData["Title"] = "Каталог";
}

    <div class="row">
        <div class="col-md-8">
             @foreach (var news in ViewBag.News)
             {
                @Html.Partial(
                    "SmallNews", (NewsDB)news)
             }
        </div>
        <div class="col-md-4">
            @Html.Partial("AboutPortal")
             @Html.Partial("Tabs")

        </div>
    </div>
    </div>
