h1 {
    font-family: 'Kenia';
    font-size: 60px;
    margin: 0px;
}
.header-second{
    font-family: 'Average';
    color: #7a7a7a;
}
.navigatebar{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.navigatebar-line{
    background: #606060;
    border: none;
    height: 3px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}
.navbar-line{
    background: #c0c0c0;
    border: none;
    height: 1px;
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0px;
    font-family: 'Andika', 'Adamina';
    font-size: 18px;
}
.header-with-line{
    font-family: 'Andika';
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase; 
    overflow: hidden;
    text-align: left;
}
.header-with-line::after{
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    position: relative;
}
.header-with-line::after{
    margin-right: -100%;
    right: -5px;
}
.last-news-text{
    font-family: 'Adamina';
    font-size: 14px;
    color: #555555;
    height: 100px;
}
.portal-text{
    font-family: 'Adamina';
    font-size: 14px;
    color: #555555;
    height: 100px;
}
.btn-groupp{
    margin-left: 15px;
}
.btn-login{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 55px; 
    margin-left: 15px;
}
.btn-registration{
    padding-left: 15px;
    padding-right: 15px; 
    margin-right: 15px;
    float: right;
}

.btn-logoff{
    padding-left: 15px;
    padding-right: 15px; 
    margin-right: 10px;
    float: right;
}

.tabs-content{
    border: 1px solid #c0c0c0;
    padding: 10px;
    margin-left: 15px;
    height: 167px;
    font-family: 'Adamina';
    font-size: 14px;
    font-weight: bold;
}

.sing-in-form{
    width: 300px;
}
.sing-up-form{
    width: 600px;
}
.header-small-news{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.a-header{
    color: #008db1;

}
.small-news-content{
    color: #555555;
    font-family: 'Adamina';
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 115px;
}
.small-news{
    margin-bottom: 30px;
}

.date-content{
    color: #747272;
    font-family: 'Adamina';
    font-size: 12px;
    margin-left: 5px;
    padding-left: 15px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.validation-error {
    font-size: 10px;
    color: rgb(199, 1, 1);
}
.agreement-label {
    font-size: 10px;
    font-weight: 200;
    text-align: justify;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.img-sm {
     width: 46px;
     height: 46px;
}
.panel {
    box-shadow: 0 2px 0 rgba(0.7,0,0.3,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel-body {
    padding: 25px 20px;
}
.panel-body_1 {
    padding: 0px 0px;
}
.media-block .media-left {
    display: block;
    float: left
}
.media-block .media-right {
    float: right
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.media-block .media-body .mar-btm .a-comment {
    color: #008db1;
    font-family: 'Andika';
    font-size: 16 px;
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.text-sm {
 font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}
.mar-top {
    margin-top: 15px;
}

.info {
    color: #747272;
    font-family: 'Adamina';
    font-size: 12px;
    margin-left: 0px;
    padding-left: 0px;
   
  }
  
  .info li {
    display: inline-block;
    margin-right: 0px;
    font-family: 'Adamina';
    font-size: 12px;
  }
  
  .info i {
    color: #747272;
    font-size: 12px;
    margin-right: 0px;
    font-family: 'Adamina';
  }
  

  
  .info p {
    color:#747272;
    font-size: 17px;
    margin: 0;
    font-family: 'Adamina';
  }
  
  .title_3 {
    font-weight:bold;
  }
  .a-single-news{
    color: #008db1;
    font-family: 'Andika';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; 
}
  
.icon_color {
    color: black;

   }
.badge_color {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        font-size: 10px;


   }
.word_font{

    font-family: 'Adamina';
}

.profImag {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;   
    margin-top: 20px;   
}
.icon_color {
    color: black;

 }

.containerNew {
    background-color: #F4F3F3;
    padding-left: 20px;
    padding-right: 20px;
    height: 330px!important;

}

.containerNewForCreateNews {
    background-color: #F4F3F3;
    padding-left: 0px;
    padding-right: 0px;
    height: 520px!important;

}
.padding_but {

    padding-bottom: 25px!important;
    padding-left: 63px!important;
   
   }
.pad_but_2{
    padding-left:62px!important;
}
.but_top{
    padding-top: 10px!important;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: white; /* Цвет линии для остальных браузеров */
    background-color: white; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    padding-bottom: 5px!important;
    padding-right: 50px!important;
}

.center-justified_trash {
    vertical-align: middle;
}

.styleform {
    text-align: left;
    float:left;
}

.user_content{
    margin-left: 15px;
}
  


ul.inline_fot { 
    display:flex;  
    list-style:none;
    margin: 0; /* Обнуляем значение отступов */
    padding: 0px; 
    
   }
   ul.inline_fot li{
    margin-right: 95px;
    margin-left: 13px;
    display: inline-block;
    padding: 0px;
} 

ul.inline_fot_2 { 
    display:flex;  
    list-style:none;
    margin: 0; /* Обнуляем значение отступов */
    padding: 0px; 
    
   }
   ul.inline_fot_2 li{
    margin-right: 39px;
    margin-left: 13px;
    display: inline-block;
    padding: 0px;
} 


 
.h3_singlenews{
    margin: 0;
    padding: 0;
    display:inline;
    }


/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: auto;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border-top: 2px solid #F4F3F3;
}
.tabs>section>p {
	margin: 0 0 0px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    font-family: 'Andika';
    font-size: 18px;
    text-transform: uppercase; 
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 0px;
	background: #fff;
	border-radius: 0px 0px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 0px;
}

 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #F4F3F3;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 

/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 900px) {
	.tabs>label {
		padding: 15px;
	}
}


.header-cont-manag-request{
    font-family: 'Andika';
    font-size: 16px;
    font-weight: bold;
    color:  #555;
    text-transform: uppercase; 
    overflow: hidden;
    text-align: left;
}

.header-cont-manag-request::after{
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    position: relative;
}
.header-cont-manag-request::after{
    margin-right: -100%;
    right: -5px;
}

.pad_left_but_correct_news{
    padding-left:80px!important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}